body {
    margin-bottom: 500px
}

.p-tag {
  background-color: black;  
  color: white;
}


#h6-header {
    background-color: yellow;
}

.h2-tag {
    background-color: red;
}

#h2 {
    background-color: yellow;
}

ul {
    /* list-style: none; */
    list-style-type: circle;
}

ol {
    list-style-type: none;
}

.h2-font-styles {
    font-size: 30px;
    font-style: italic;
    font-weight: 100;
}

.font-weight {
    font-weight: 500;
    font-size: 25px;
    background-color: red;
}

.js-logo-styles {
    width: 40px;
    height: 40px;
}

.btn {
    background-color: red;
    color: white;
    font-size: 20px;
    width: auto;
    height: auto;
}

.main-div {
    display: none;
    /* visibility: hidden; */
}

.margin-border {
    /* border: border-width border-style border-color */
    border: 2px solid blue;
    border-radius: 5px; 
    /* border-top: 5px solid red;
    border-right: 5px solid blue;
    border-left: 5px solid green;
    border-bottom: 5px solid purple; */


    /* Margin: Used to control space around the element (outside) */
    /* 
        Shorthand: 
        margin: singleValue;
        this will take value on all the 4 sides
        4 sides: top, bottom, right, left
    */
    /* margin: 20px; */ 

    /* Individual Values */
    /* 
        margin-top: 10px;
        margin-right: 20px;
        margin-left: 30px;
        margin-bottom: 40px; 
    */

    /* 
        remember as clockwise notation
        margin: top left bottom right (TRBL)
    */
    /* margin: 20px 30px 40px 50px; */

    
    /* margin: top&bottom right&left */
    /* margin: 10px 20px; */

    /* margin: top right&left bottom */
    margin: 10px 20px 30px;


    /* Padding: used to control space inside the element */
    /* padding: 10px; */ 
    /* padding: 10px 20px 30px 40px; */
    /* padding: 10px 20px 30px; */
    padding: 10px 20px;
}

.flex-model {
    border: 2px solid blue;
    margin: 20px;
    padding: 20px;
    display: flex;
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    flex-direction: row;
    /* flex-direction: row-reverse; */
    max-width: 600px;

    /* Align items along y-axis */
    /* align-items: center: will align items equally from top and bottom */
    align-items: center; 


    /* justify-content along x-axis */
    justify-content: flex-end; 

    flex-wrap: wrap;

}

.flex-model .first,
.flex-model .second,
.flex-model .third {
    width: 150px;
    height: 150px;
    border: 2px solid red;
    margin: 10px;
    padding: 50px;
    font-size: 20px;
}

.circle {
    margin: 60px;
    width: 300px;
    height: 300px;
    border: 2px solid blue;
    border-radius: 10%;
    display: none;
}

/* .triangle {
    height: 0;
    width: 0;
    margin: 30%;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid green;
} */

.eg-w-h {
    /* margin: 40px; */
    border: 2px dashed red;
    /* 
        width: 50vw
        height: 50vh
    */
    width: 50px;
    height: 50px;
    padding: 30%;
    font-size: 30px;
    background-color: black;
    color: white;
    font-style: italic;
}

/* .sample {
    display: flex;
    flex-direction: row;
} */

/* Psuedo elements */

.eg-w-h:hover {
    background-color: blue;
    color: red;
    cursor: pointer;
}